@import 'vars';
@import 'fonts';

body {
  margin: 0;
  font-family:  'Helvetica Neue', Helvetica, Arial, sans-serif;
  background-color: var(--bg-color-dark);
}

.container {
  margin: 0 170px;
  padding:  0 16px;
  box-sizing: border-box;
  max-width: 1110px;
  width: 100%;
}
